---
import { Button } from '@/components/ui/button'
import {
  DropdownMenu,
  DropdownMenuContent,
  DropdownMenuItem,
  DropdownMenuSeparator,
  DropdownMenuTrigger
} from '@/components/ui/dropdown-menu'
import type { User } from '@/lib/types'

interface Props {
  user: User;
}

const { user } = Astro.props;

function getUserInitials(name: string) {
  const [firstName, lastName] = name.split(' ')
  return lastName ? `${firstName[0]}${lastName[0]}` : firstName.slice(0, 2)
}
---

<div class="flex items-center justify-between">
  <DropdownMenu>
    <DropdownMenuTrigger asChild>
      <Button variant="ghost" class="pl-0">
        <div class="flex size-7 shrink-0 select-none items-center justify-center rounded-full bg-muted/50 text-xs font-medium uppercase text-muted-foreground">
          {getUserInitials(user.id)}
        </div>
        <span class="ml-2 hidden md:block">{user.id}</span>
      </Button>
    </DropdownMenuTrigger>
    <DropdownMenuContent sideOffset={8} align="start" class="w-fit">
      <DropdownMenuItem class="flex-col items-start">
        <div class="text-xs text-zinc-500">{user.id}</div>
      </DropdownMenuItem>
      <DropdownMenuSeparator />
      <form action="/api/auth/signout" method="POST">
        <button class="relative flex w-full cursor-pointer select-none items-center rounded-sm px-2 py-1.5 text-xs outline-none transition-colors hover:bg-red-500 hover:text-white focus:bg-accent focus:text-accent-foreground data-[disabled]:pointer-events-none data-[disabled]:opacity-50">
          Sign Out
        </button>
      </form>
    </DropdownMenuContent>
  </DropdownMenu>
</div>
